@import "tailwindcss";

@theme {
  --color-surface: #0b0b0c;
  --color-primary: #b3b3b3;
  --color-emphasis: #ededed;
}

@utility drag {
  -webkit-app-region: drag;
}

@utility no-drag {
  -webkit-app-region: no-drag;
}

@layer base {
  html,
  body,
  #root {
    height: 100%;
  }

  body {
    background-color: var(--color-surface);
    color: var(--color-primary);
  }
}
